/* css reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
  /* css */
html {
    height: 100%;
    background: black; 
}
body {
    background: url('../img/wow1.jpg') no-repeat;
    width: 100%;
    height: 1080px;
    background-size: contain;
    position: relative;
    font-family: 微软雅黑,Microsoft YaHei,Helvetica,Tahoma,StSun,宋体,SimSun,sans-serif!important;
 }
.header {
    width: 70%;
    height: 600px;
    margin-top: 50px;
}
.header>.nav {
    display: flex;
}
.nav>li {
    border: 2px solid #3f2a22;
    flex-grow: 1;
}
li.centerLi {
    flex-grow: 1.9;
}
li.centerLi>.button {
    color: rgba(255,255,255,0);
}
.button {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #f8b703;
    background: #150d0a;
    box-shadow: 0 0 10px  #150d0a;
    display: block;
}
.button:hover {
    color: white;
}
.nav>li:nth-child(1n) {
    border-right: none;
}
.nav>li:last-child {
    border-right: 2px solid #3f2a22;
}
#logo {
    width: 16%;
    position: absolute;
    left: 50%;
    margin-left: -8%;
    top: 0;
    margin-top: -30px;
 }
 .tag {
    width: 1020px;
    margin-top: 40%;
 }
 .tag>li {
    width: 240px; 
    height: 160px;
    float: left;
    margin-right:20px;
}
.tag>li:nth-child(2n+2) {
    margin-right: 0;
}
.showphoto {
    width: 220px;
}